= form_for @tour do |f|
  - if @tour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tour.errors.count, "error")} prohibited this tour from being saved:"
      %ul
        - @tour.errors.full_messages.each do |msg|
          %li= msg
  .row
    .large-3.columns.field
      = f.label :name
      = f.text_field :name
    .large-3.columns.field
      = f.label 'descripcion corta'
      = f.text_field :description
    .large-6.columns.field
      = f.label 'Detalles'
      = f.text_field :conditions
  .row
    .large-3.columns.field
      = f.label 'Precio'
      = f.text_field :price
    .large-1.columns.field
      = f.label 'Moneda'
      = f.select(:currency, ['USD', 'EUR', 'CLP'])
    .large-1.columns.field
      = f.label 'Destacado'
      = f.check_box :offer
    .large-5.columns.field  
      = f.label 'Imagen'
      = f.file_field :image  
    .large-2.columns.actions
      = f.label :submit
      = f.submit 'Save', :class => "button small expand"
